---
interface Props {
  text?: string;
}

const { text, ...props } = Astro.props;
---

<p {...props}>
  <slot />
  {!!text && <span>{text}</span>}
</p>

<style>
  @supports (display: flex) {
    /* Place icon and text centered vertically */
    p {
      display: flex;
      gap: 0.35em;
    }
  }
</style>
