/* Center content to improve legibility */
.large-layout, .small-layout {
  margin-inline: auto;
  padding-inline: 10px;
}
.large-layout {
  max-width: 90ch;
}
.small-layout {
  max-width: 60ch;
}

/* Make image fit container while preserving aspect ratio */
img.fit-container {
  width: 100%;
  height: auto;
}
