---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  seoTitle="Imaengine"
  pagetitle="Imaengine"
  seoDescription="Website to discuss about the latest technologies about manufacturing."
>
  <h1>Hello Imaengine</h1>
</BaseLayout>
