---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  title="Imaengine"
  description="Website to discuss about the latest technologies about manufacturing."
>
  <h1>Hello Imaengine</h1>
</BaseLayout>
