---
import type { BlogCollectionEntry } from "@content/config";

interface Props {
  post: BlogCollectionEntry;
}

const {
  post: {
    slug,
    data: { tabTitle },
  },
} = Astro.props;
---

<a href={"/" + slug}>{tabTitle}</a>
