---
import type { BlogPostEntry } from "@content/config";

interface Props {
  post: BlogPostEntry;
}

const {
  post: {
    slug,
    data: { tabTitle },
  },
} = Astro.props;
---

<a href={"/" + slug}>{tabTitle}</a>
