---
import Card from "./Card.astro";
import type { BlogPostEntry } from "@content/config";

interface Props {
  posts: BlogPostEntry[];
}

const { posts } = Astro.props;
---

<nav>
  <ul>
    {
      posts.map((post) => (
        <li>
          <Card post={post} />
        </li>
      ))
    }
  </ul>
</nav>
