---
import { getBlogEntries } from "@utils/get-static-paths-filtered";
import BaseLayout from "@layouts/BaseLayout.astro";
import Feed from "./Feed.astro";
import type { BlogCollectionEntry } from "@content/config";

export interface Props {
  entry: BlogCollectionEntry;
}

const {
  entry: {
    data: { seoDescription, seoTitle, tabTitle, relatedPosts },
    render,
  },
} = Astro.props;

const { Content } = await render();

const filteredPosts = await getBlogEntries(relatedPosts);
---

<BaseLayout seoDescription={seoDescription} seoTitle={seoTitle} tabTitle={tabTitle}>
  <main>
    <Content />
  </main>
  {
    !!filteredPosts.length && (
      <aside class="relatedPost">
        <h2>You might also like</h2>
        <Feed entry={filteredPosts} />
      </aside>
    )
  }
</BaseLayout>
