---
import { filterPostsCondition } from "@utils/get-static-paths-filtered";
import { getCollection } from "astro:content";
import Feed from "./Feed.astro";
import type { ValidBlogCategory } from "@content/config";

interface Props {
  category?: ValidBlogCategory;
}

const { category } = Astro.props;

const feed = await getCollection(
  "blogPost",
  (entry) =>
    filterPostsCondition(entry) && (category ? entry.slug.startsWith(category) : true),
);
---

{
  !!feed.length && (
    <section>
      <h2>Feed</h2>
      <Feed posts={feed} />
    </section>
  )
}
