---
import "@styles/fonts.css";
import SeoMetaTags, { type Props } from "@components/SeoMetaTags.astro";

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <SeoMetaTags description={description} title={title} />
  </head>
  <body>
    <slot />
  </body>
</html>
