---
import "@styles/fonts.css";
import SeoTags, { type Props as SeoTagsProps } from "@components/SeoTags.astro";
import Navbar from "@components/Navbar.astro";

interface Props extends Partial<SeoTagsProps> {
  pagetitle?: string;
}

const defaultDescription =
  "Website to discuss about the latest technologies about manufacturing.";

const {
  pagetitle = "Imaengine",
  seoDescription = defaultDescription,
  seoTitle,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    {/* Minimum head tags that should be present */}
    <meta charset="UTF-8" />
    <title>{pagetitle}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {/* SEO related head tags */}
    <SeoTags
      seoDescription={seoDescription || pagetitle}
      seoTitle={seoTitle || pagetitle}
    />

    {/* Identify Astro and its version as the framework used to generate this site */}
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
