---
import "@styles/fonts.css";
import SeoTags, { type Props as SeoTagsProps } from "@components/SeoTags.astro";

interface Props extends SeoTagsProps {
  pagetitle: string;
}

const { seoDescription, seoTitle, pagetitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{pagetitle}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <SeoTags seoDescription={seoDescription} seoTitle={seoTitle} />
  </head>
  <body>
    <slot />
  </body>
</html>
