---
import { getEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import type { ValidContentEntrySlug } from "astro:content";

const COLLECTION = "staticPage";

interface Props {
  section: ValidContentEntrySlug<typeof COLLECTION>;
}

const { section } = Astro.props;

const {
  data: { seoDescription, seoTitle, tabTitle, title },
  render,
} = await getEntry(COLLECTION, section);

const { Content } = await render();
---

<BaseLayout seoTags={{ seoDescription, seoTitle }} tabTitle={tabTitle}>
  <main>
    <div class="large-layout">
      <h1>{title}</h1>
      <Content />
      <slot />
    </div>
  </main>
</BaseLayout>
